<!DOCTYPE html>

<html>

<head>
    <title>En Fuego!!!</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" crossorigin=""></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <link rel="stylesheet" href="../static/css/style.css">
</head>


<body>

    <!-- Background photo -->
    <style>
        body {
            background-image: url('cranstonfire_night.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }
    </style>

    <!-- Navbar  -->

    <nav class="navbar">

        <ul class="nav justify-content-center">
            <li class="nav-item active">
                <a class="nav-link active" id="navbarRight" href="index.html">Wildfire Homepage</a>
            </li>

            <li class="nav-item active">
                <a class="nav-link active" id="navbarRight" href="heatmap.html">Heatmap </a>
            </li>

            <li class="nav-item active">
                <a class="nav-link active" id="navbarRight" href="heatmap.html">Geospatial Analysis </a>
            </li>

            <li class="nav-item">
                <a class="nav-link active" id="navbarRight"
                    href="https://www.kaggle.com/rtatman/188-million-us-wildfires">Kaggle Data </a>
            </li>

            <li class="nav-item active">
                <a class="nav-link active" id="navbarRight" href="https://github.com/KaiCee2010/project2">GitHUB Page
                </a>
            </li>


            </div>

        </ul>

    </nav>


    <div class="container">




        <!-- Jumbotron -->
        <div class="jumbotron text-center">
            <div class="col-md-12">

                <strong>
                    <h1 class="display-4" style="color: black ">United States Wildfire Data</h1>
                </strong>

                <!-- Youtube Video -->

                <iframe width="950" height="450" src="https://www.youtube.com/embed/nhU5TXwAqN8?autoplay=1">

                </iframe>



                <!-- Summary table -->
                <div class="sumbox">
                    <p>Wildfires don’t stop where the wilderness ends. They burn through communities and neighborhoods,
                        destroying property and taking lives. With climate-driven increases in wildfires in the U.S., it
                        is imperative to understand how the risk to homes is also changing nationwide. The convergence
                        of warmer, drier conditions and greater development into flammable landscapes is leaving many
                        communities vulnerable to human-caused wildfires
                    </p>
                    <p>The objective of this project was to extract and explore a publicly available database of
                        wildfires that occurred in the United States from 1992 to 2015 and includes 1.88 million
                        geo-referenced wildfire records, representing a total of 140 million acres burned during the
                        24-year period.
                    </p>
                    <p>The amount of data was to large to be run on local machines and instead required some sort of
                        filtering to obtain a manageable size dataset that could be handled within a team setting.
                        The data was filtered and selected in a manner that would provide an interesting overview of the
                        fire hazard and damage done in the United States over the pact couple of decades while reviewing
                        a small sample of the total data.
                    </p>

                </div>

            </div>

        </div>



        <!-- <!-- <div class="row"> -->
        <div class="container">

            <div class="row">

                <div class="col-lg-4 col-md-5">
                    <div class="card" style="width: 22rem;">
                        <div class="card-body">
                            <h5 class="card-title"> </h5>
                            <h5 class="card-title">Total Wildfires Breakdown: </h5>
                            <p class="card-text"></p>
                            <pre class="tab">Type / Quantity        Description</pre>
                            <pre class="tab">A: 666,919         less than 0.25 acres</pre>
                            <pre class="tab">B: 939,376         0.26 - 9.9 acres</pre>
                            <pre class="tab">C: 220,077         10.0 - 99.9 acres</pre>
                            <pre class="tab">D:  28,427         100 - 299 acres</pre>
                            <pre class="tab">E:  14,107         300 - 999 acres</pre>
                            <pre class="tab">F:   7,786         1000 - 4999 acres</pre>
                            <pre class="tab">G:   3,773         5000+ acres</pre>
                            </ul>
                            <h5 class="card-title"> </h5>
                            <h5 class="card-title"> </h5>
                        </div>
                    </div>
                </div>

                <div class="col-lg-8 col-md-5">

                    <img src="nederland.jpg" alt="Local Fire" id="plotbox-img">

                </div>
            </div>
        </div>
    </div>



    </div>
    </div>

    </div>

    <h1>API for US Wildfires Class E, F, and G 1995-2015!</h1>
    <div id="map"></div>


    <!-- Page footer -->
    <div id="page-container">
        <div class="footer">
            <p class="d">Copyright © Kaylon Young, Behrouz Zand, Rob Pascarella, Tobias Judd </p>
        </div>
    </div>


    <!-- API key -->



</body>

</html>